<!DOCTYPE html>
<html lang="ru">
<head></head>
<body>
<nav>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="navbar-header">
                    <a class="navbar-brand page-scroll" href="/">

                    </a>
                </div>
                <div class="collapse navbar-collapse navbar-content" id="sw-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="">
                            <a href="/index2">Как это работает</a>
                        </li>
                        <li>
                            <a href="/index2">О компании</a>
                        </li>
                        <li>
                            <a href="/index2">Контакты</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/index2">Вход</a>
                        </li>
                        <li>
                            <a href="/index2" id="try-button" class="main-button main-button-inv hidden-xs hidden-sm">Попробовать</a>
                            <a href="/index2" class="hidden-md hidden-lg">Попробовать</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-2">
                <label></label>
            </div>
            <div class="col-xs-12 col-sm-10">
                <div class="row">
                    <ul class="col-xs-12 col-sm-8 col-lg-9">
                        <li><a href="#">Справочная</a></li>
                        <li><a href="#">Договор оферты</a></li>
                    </ul>
                    <div class="col-xs-12 col-sm-4 col-lg-3 phone">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>